[
    (
        date: "2026-08-19",
        name: "Texpile",
        source_code_url: Some("https://github.com/texpile/texpile"),
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1vsz83u/an_open_source_desktop_visual_editor_for_typst/"),
    ),
    (
        date: "2026-07-28",
        name: "Typtic",
        source_code_url: None,
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1v8xfxg/i_built_a_native_typst_editor_for_android_ios"),
    ),
    (
        date: "2026-07-24",
        name: "LumiType",
        source_code_url: None,
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1v58pzx/lumitype_a_typst_editor_for_macos_windows/"),
    ),
    (
        date: "2026-07-14",
        name: "Dotei",
        source_code_url: None,
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1uw4gv3/introducing_dotei_a_language_independent/"),
    ),
    (
        date: "2026-07-08",
        name: "Hilbert",
        source_code_url: Some("https://github.com/aburousan/hilbert-editor"),
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1uqkgqj/hilbert_scientific_ide_for_typst/"),
    ),
    (
        date: "2026-07-01",
        name: "typress",
        source_code_url: None,
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1ukna87/im_developing_a_new_typst_editor/"),
    ),
    (
        date: "2026-06-29",
        name: "Edist",
        source_code_url: None,
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1uixxn8/edist_the_native_macos_typst_editor/"),
    ),
    (
        date: "2026-06-29",
        name: "Typsastra (formerly Typstry)",
        source_code_url: Some("https://github.com/Sovichea/typsastra"),
        reddit_url: None,
    ),
    (
        date: "2026-06-23",
        name: "Typeset",
        source_code_url: Some("https://github.com/twarge/typeset"),
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1ud267k/typeset/"),
    ),
    (
        date: "2026-05-21",
        name: "Collabst",
        source_code_url: Some("https://github.com/collabst/collabst/"),
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1tjl560/introducing_collabst_a_selfhosted_collaborative/"),
    ),
    (
        date: "2026-05-02",
        name: "Typwriter",
        source_code_url: Some("https://github.com/Ahdeyyy/typwriter"),
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1t1y2o1/self_promo_typwriter_typst_text_editor/"),
    ),
    (
        date: "2026-02-07",
        name: "lumen-edit",
        source_code_url: None,
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1qyobbx/my_attempt_at_creating_a_web_editor_with_typst/"),
    ),
    (
        date: "2026-02-02",
        name: "TypeTex",
        source_code_url: None,
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1qu24ci/built_a_realtime_collaborative_typst_editor_would/"),
    ),
    (
        date: "2025-12-08",
        name: "TypstEdit",
        source_code_url: Some("https://github.com/SuperMegaFort/TypstEdit"),
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1phpj40/i_built_a_native_macos_editor_for_typst_with/"),
    ),
    (
        date: "2025-10-03",
        name: "Typesetter",
        source_code_url: Some("https://codeberg.org/haydn/typesetter"),
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1nwmjtz/typesetter_a_typst_editor_for_gnome_and_linux/"),
    ),
    (
        date: "2024-12-02",
        name: "Typstify",
        source_code_url: Some("https://github.com/typstify/typstify"),
        reddit_url: Some("https://www.reddit.com/r/typst/comments/1h4n9q2/typstify_a_desktop_app_for_typst/"),
    ),
    (
        date: "2024-01-22",
        name: "Katvan",
        source_code_url: Some("https://github.com/IgKh/katvan"),
        reddit_url: None,
    ),
]
