:root {
	background-color: hsl(187, 80%, 75%);
	font-family: sans-serif;
}

body {
	padding: 2rem;
}

h2,
h3 {
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 200%;
}

#timeline {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	gap: .7rem 1rem;
}

footer {
	text-align: center;
}
